data/
data_vqf
data
exps/
exps_finetune/
third_parties/Grounded-Segment-Anything
third_parties/GroundingDINO
third_parties/Orient_Anything
third_parties/segment_anything
third_parties/detectron2/output
third_parties/detectron2/output_al

outputs/
images/
env_orients/
hssd_data/

# type
*.pyc
*.png
*.jpg
*.pth
*.log
*.txt
*.json
*.so
*.o
*.out
*.zip
*.npz
*.pkl
