data/
data_vqf
data
exps/
exps_finetune/
third_parties/
third_parties/detectron2/build/
outputs/
images/
env_orients/

# type
*.pyc
*.png
*.jpg
*.pth
*.log
*.txt
*.json
*.so
*.o
*.out
*.zip
*.npz
*.pkl
