data_scene/
data_vqf
exps/
exps_finetune/
third_parties/Grounded-Segment-Anything
third_parties/GroundingDINO
third_parties/Orient_Anything
third_parties/segment_anything
third_parties/detectron2/output
# third_parties/detectron2/说明.txt
third_parties/detectron2/output_al
third_parties/detectron2/output_al_proj

third_parties/pyntcloud/
outputs/
images/
env_orients/
hssd_data/
anno
anno_n
anno2
anno3
__pycache__
# type
*.pyc
*.png
*.jpg
*.pth
*.log
*.txt
*.json
*.so
*.o
*.out
*.zip
*.npz
*.pkl
*.cpython-38.pyc